*{
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    font-family: 'Permanent Marker', cursive;
}

body {
    background-color: rgb(214, 229, 227);
}

.header {
    background-color: #416E25;
    color: #f5e2bf;
    letter-spacing:5px;
    width: auto;
    height: 100px;
}

#menu,#options, #scoreBoard,#credits {

    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 800px;
    margin: 40px auto auto;
    box-shadow: #777777 5px 5px 10px 10px;
}



#game_board {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    margin: 40px auto auto;
    box-shadow: #777777 5px 5px 10px 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
    width: auto;
    height: 100px;
}

#snake {
    grid-column-start: 10;
    grid-row-start: 10;
}

#apple{
    grid-column-start: 15;
    grid-row-start: 15;
}

.snake_body {
    background-color: rgb(57 177 75);
    border: 1px solid black;
}

.snakeElements {
    background-color: rgb(57 177 75);
    border: 1px solid black;
}

.player_score {
    position: absolute;
    font-family: 'Permanent Marker', cursive;
}

/*#start {*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    background-color: pink;*/
/*    font-size: 50px;*/
/*}*/

.btn-group button {
  background-color: #7CB15F; 
  border: 2px solid #416e25; 
  color: #f5e2bf;
  font-size: 30px;
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  height: 200px;
  display: block; /* Make the buttons appear below each other */
  letter-spacing: 4px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #416e25;
}